# Google Drive API Configuration
# Get your API key from: https://console.cloud.google.com/
# Enable Google Drive API in your project
VITE_GOOGLE_API_KEY=AIzaSyDFkTvfY-dqwvbVe-hkKvDUE5kT6Io_tis

# Google Drive Folder ID
# Get this from your Google Drive folder URL: https://drive.google.com/drive/folders/FOLDER_ID_HERE
# Make sure the folder is set to "Anyone with the link can view"
VITE_GOOGLE_DRIVE_FOLDER_ID=1fnwf75QGVy8TaSTbZ7PWXtaYRLKx2p1M
